 <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <img src="https://www.ft.com/__origami/service/image/v2/images/raw/https%3A%2F%2Fd1e00ek4ebabms.cloudfront.net%2Fproduction%2F14a51462-6b79-4c1b-af64-0d9e63ee7412.png?source=Alphaville" width="30" height="30" class="d-inline-block align-top" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="home" routerLinkActive="active">Home <span class="sr-only">(current)</span></a>
         <!-- <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>  -->
       </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="report" routerLinkActive="active">Report</a>
      </li>
    </ul>
  </div>
</nav> 

 <router-outlet></router-outlet>
