@import "~bootstrap/dist/css/bootstrap.css";

/** card Element Styling **/

.cardclass {
    position:relative;
    box-shadow: 0 3px 10px rgb(95, 99, 102);
    text-align: center;
    height: 25rem;
    min-width: 18rem;
    max-width: 20rem;
}
/** Chart Element Styling **/

.chartclass {
    margin-top: 70px !important;
    width: 500px;
}
/**Button Element in the card Styling **/
.card-btn {
    width: 100%;
    padding: 5px;
}

