

<!-- <div  **ngIf="errorMessage" class="text-center" style="color:red">
<span><b>{{errorMessage}}</b></span>
</div> -->


<div>
     <h3 class="panel-title">Expenses Form</h3>
 </div>
 <!-- formGroup starts -->
 <form [formGroup]="group" id="expense-form" class="card m-auto p-5">

      <!-- amount input --> 
       <div class="form-group">
         <label for="fullName" class="control-label">Amount :</label>
        <input id="amount" formControlName="amount"
      type="number" class="width:100% form-control m-2" placeholder="Enter Amount">
      <div  *ngIf="!group.get('amount').valid && group.get('amount').touched" class="text-left" style="color:red">
        <span>Amount is required</span>
        </div>
        </div>

      <!-- description input -->
      <div class="form-group">
      <label for="description" class="control-label">Description :</label>
     <textarea id="description" formControlName="description" type="text" class="w-100 form-control m-2" 
     placeholder="Enter Text"></textarea>
     <div  *ngIf="!group.get('description').valid && group.get('description').touched" class="text-left" style="color:red">
      <span>Description is required</span>
      </div>
      </div>

     <!-- bsDatepicker -->
     <div class="form-group">
     <label for="date" class="control-label">Date :</label>
     <input id="date" formControleName="date" type="text" placeholder="dd/mm/yyyy" 
     class="w-100 form-control m-2" bsDatepicker>
     <div  *ngIf="!group.get('date').valid && group.get('date').touched" class="text-left" style="color:red">
      <span>Date is required</span>
      </div>
        </div>
     <!-- spentby dropdown -->
     <div class="form-group">
     <label for="spentBy" class="control-label">Spent by :</label>
     <select id="spentBy" formControlName="spentBy" class="form-control" (change)="change($event)" 
     placeholder="SpentBy">
         <option>House Lone</option>
         <option>Medical expenses</option>
         <option>Transport charges</option>
     </select>
     <div  *ngIf="!group.get('spentBy').valid && group.get('spentBy').touched" class="text-left" style="color:red">
      <span>spent by required</span>
      </div>
        </div>

     <!-- addexpenses button -->

     <button type="Add expense" class="btn btn-success m-2" (click)="addForm()">Add expense</button>
 
    </form>
 
